<html>
  <head>
  <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
    <title>Rosa Luna &mdash; {{ page.title }}</title>
    <style type='text/css'>
      @import 'css/default.css';
      @import 'css/syntax.css';
    </style>
    <style media='print' type='text/css'>
      @import 'css/print.css';
    </style>
    <link rel="shortcut icon" href="/images/favicon.png"/>
    <meta content='Rosa Luna' name='subject'>
  </head>
  <body>
    <div id='wrap'>
      <div id='pages'>
        <ol class='toc'>
            <li align='right' ><img  width="200" src='images/logo_rosa_luna.svg' img> </li>
          <li>Über uns
            <ol class='toc'>
              <li><a href='index.html'>Programm</a></li>
              <li><a href='funktion.html'>So funktioniert es</a></li>
              <li><a href='mitmachen.html'>Filme wünschen</a></li>
              <li><a href='kontakt.html'>Kontakt</a></li>
              <li><a href='team.html'>Wer dahinter steckt</a></li>
              <li><a href='start.html'>Wie alles begann</a></li>
            </ol>
          </li>
          <li>Archiv
            <ol class="toc">
              <li><a href='2000.html'>2000-2004</a></li>
              <li><a href='2005.html'>2005-2009</a></li>
              <li><a href='2010.html'>2010-2014</a></li>
              <li><a href='2015.html'>2015-?</a></li>
              <li><a href='presse.html'>Zeitungsberichte</a></li>
            </ol>
          </li>
          <li><a href='bilder.html'  style="font-weight: bold; color: #669966">Bilder<a>
          <ol class='toc'>
            <li class="toc"><a href='bilder.html' >
          <img width="180" src="images/kinoabend.jpg" alt="Musik & Film" />
                    </a>

        </ol>
      </div>
      <div id='content'>
        <h1 id="replace\(page.title | downcase | ' ', '_'\)">{{ page.title }}</h1>
        {{ content }}
      </div>
      <div id='footer'>Copyright &copy; 2016-2018 Niklaus Giger</div>
    </div>
    <dif id='after'>
    </div>
  </body>
</html>
