<html>
  <head>
  <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
    <title>Elexis &mdash; {{ page.title }}</title>
    <style type='text/css'>
      @import 'css/default.css';
      @import 'css/syntax.css';
    </style>
    <style media='print' type='text/css'>
      @import 'css/print.css';
    </style>
    <meta content='Elexis Dokumentation' name='subject'>
    <link href='images/favicon.png' rel='shortcut icon'>
  </head>
  <body>
    <div id='wrap'>
      <div id='header'>
        <a href='https://github.com/rosaluna/' title="Rosa Luna: Das Molliser Freiluftkino"><img width="150" height="65" alt='elexis' src='images/splash.png'></a>
        <div align='right' class='tagline'>Rosa Luna: Das Molliser Freiluftkino</div>
      </div>
      <div id='pages'>
        <ol class='toc'>
          <li>Über uns
            <ol class="toc">
              <li><a href='index.html'>Willkommen</a></li>
              <li><a href='team.html'>Wer dahinter steckt</a></li>
              <li><a href='sponsoren.html'>Werde Sponsor</a></li>
            </ol>
          </li>
          <li>Wissenswertes
            <ol class="toc">
              <li><a href='start.html'>Wie alles begann</a></li>
              <li><a href='1995.html'>1995-1999</a></li>
              <li><a href='2000.html'>2000-2004</a></li>
              <li><a href='2005.html'>2005-2009</a></li>
              <li><a href='2010.html'>2010-2014</a></li>
            </ol>
          </li>
        </ol>
      </div>
      <div id='content'>
        <h1 id='{{ replace(page.title | downcase | ' ', '_') }}'>{{ page.title }}</h1>
        {{ content }}
      </div>
      <div id='footer'>Copyright &copy; 2016 Niklaus Giger</div>
    </div>
  </body>
</html>
